.backinicio{
    background-image: url("imagens/back.png");
    background-size: cover; 

}


div.my-footer {
    background-color: #e2e2e2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: right !important;
}

/* Edição Jodavid inicio */
/*
.imgspeckle{
    text-align: center;
    width: 60%;
    float: left;
    position: relative;
    top: -550px;
    left: 300px;
}
*/
.imgspeckle{
    text-align: center;
    width: 45%;
    float: left;
    position: relative;
    top: -300px;
    left: 400px;
}


.blockin{
  border-radius: 10px 10px 0 0;
  font-size: 30px;
  line-height: 120%;
  margin: -20px -20px 0 -20px;
  background-color: #cfd3d4;
  padding: 20px;
}

.blockin2{
  border-radius: 10px 10px 0 0;
  font-size: 30px;
  line-height: 120%;
  margin: -20px -20px 0 -20px;
  background-color: #e5e7e7;
  padding: 20px;
}

.contrib{
  box-shadow: 5px 5px 5px grey;
	border: 1px solid black;
  width: auto;
  margin: auto;
  background-color: #e5e7e7;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

/* termino edição jodavid */



a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*div.sourceCode {
  overflow-x: hidden;
}
*/

pre, code {
  white-space:pre !important;
  overflow-x:hidden !important
  
}
