/*
CSS for xaringan slides in RU flavor
Author: Joseph V. Casillas
Updated: 03/06/2018
*/

.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}

div.my-footer {
    background-color: #e2e2e2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
}
div.my-footer span {
    font-size: 12pt;
    color: #000000;
    position: absolute;
    left: 15px;
    bottom: 12px;
}
div.my-footer a{
/*  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF; */
  color: #383838;
  border-bottom: 2px solid #383838;
}

/* Package defaults that we slightly tweak */

a, a > code {
  color: #2A6F9A; 
  text-decoration: bold;
}

p, li{
  font-size: 25px;
  color: #515151; 
  
}



/* slightly lower and bigger than default */
.footnote {
  position: absolute;
  bottom: 1.5em;
  padding-right: 4em;
  font-size: 95%;
}

td{
    font-size: 80%;
}

/* important code slightly red */
.remark-code-line-highlighted {
  background-color: #93c3e2 !important;
}

/* color tweak */
.inverse {
  background-color: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

/* slightly spacing change */
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}

/* Two-column layout (slightly wider for aspect ration) */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

/* slightly thiner to suppor aspect ration */
.right-column {
  width: 70%;
  float: right;
  padding-top: 1em;
}



img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* adjust table horizontal spacing */
th, td {
    padding:0 15px 0 15px;
}

/* remove color from tables */
table {
  margin: auto;
  border-top: none;
  border-bottom: none;
}

table thead th { border-bottom: none; }
thead, tfoot, tr:nth-child(even) { background: none; }

/* leave this alone */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*~~~~~~~~~~~~~~*/
/* RU additions */
/*~~~~~~~~~~~~~~*/

/* Title slide */

/* Add image and change bg color */
.title-slide {
  background-image: url(imagens/back.png);
  background-position: 50% 20%;
#  background-size: 600px;
  background-color: #fff;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
  margin: auto;
}

/* H1 fonts */
.title-slide h1 {
  color: #383838;
  padding-top: 000px;
  font-weight: bold;
  font-size: 50px;

  text-align: center;
  text-shadow: 5px 5px #ffffff;
  padding-bottom: 300px;
  margin-bottom: 100px;
}

/* H2 fonts */
.title-slide h2 {
  color: #383838;
  font-size: 45px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 40px;
  font-weight: normal;
  color: #4f4f4f;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}



/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
}

/*~~~~~~~~~~~~~~~~~~*/
/* SECTION DIVIDERS */
/*~~~~~~~~~~~~~~~~~~*/

/* section divider red */
.title-slide-section-red {
  background-color: #780000;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider red H1 fonts */
.title-slide-section-red h1, .title-slide-section-red h2, .title-slide-section-red h3, .title-slide-section-red p {
  color: #fff;
}

/* section divider grey */
.title-slide-section-grey {
  background-color: #515151;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* section divider grey H1 fonts */
.title-slide-section-grey h1, .title-slide-section-grey h2, .title-slide-section-grey h3 {
  color: #fff;
}

.title-slide-section-grey p {
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~*/
/* FINAL SLIDE      */
/*~~~~~~~~~~~~~~~~~~*/

.title-slide-final {
  background-color: #272822;
  color: #fff;
  padding-left: 100px;
  text-shadow: 0 0 20px #333;
  text-align: center;
}

.title-slide-final h1 {
  color: #780000;
}

/*~~~~~~~~~~~~~~~~~~~~*/
/* Global adjustments */
/*~~~~~~~~~~~~~~~~~~~~*/

/* Add padding to all slides for 16:9 aspect ratio */
.remark-slide-content {
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* Color adjustments for text */

/* Make bold syntax compile to RU-red */
strong {
  color: #ff0000;
}

/*
em {
  color: #000000;
}
*/

.RUred {
  color: #327250;
}

/* Add blue tag */
.blue {
  color: #0000CC;
  font-weight: bold;
}

/* Add grey tag */
.grey {
  color: #515151;
}

.lightgrey {
  color: #818181;
}

/* Force black */
.black {
  color: black;
  font-weight: bold;
}

/* Add white tag */
.white {
  color: white;
}

/* Color adjustments to headers */
h1 {
  color: #590004;
}

h2 {
  color: #780004;
}


h3 {
  color: #780004;
  /*  color: #970007; */
}

h4 {
    font-size: 25px;
    color: #b40107;
    line-height: 100%;
}

h5 {
  color: #d2000b;
}


/* Font size tags */
.big {
  font-size: 1.5em;
}

/* ru blockquote */
ru-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px #a00000;
  background-color: #818181;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
